<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1 style="text-align: center;">Login</h1>
    <h3 style="text-align: center;">Please follow byte on GitHub or subscribe to byte’s YouTube channel to access this page.</h3>
    <div style="display: flex; justify-content: space-evenly;">
        <div style="text-align: center;">
            <i class="fa-brands fa-github" style="font-size: 40px; color: #333;"></i>
            <div>
                <a href="/auth/github" style="text-decoration: none; color: #007BFF;">Login with GitHub</a>
            </div>
        </div>
        <div style="text-align: center;">
            <i class="fa-brands fa-youtube" style="font-size: 40px; color: red;"></i>
            <div>
                <a href="/auth/google" style="text-decoration: none; color: #007BFF;">Login with Google</a>
            </div>
        </div>
    </div>
    <div> 
        <h3>Note</h3>
        <p style="font-weight: 600;">1.Login with github
            <p>a.if not followed it will give "This localhost page can’t be found" (needs suggestion to improve this part)</p>
            <p>b.if followed it will redirect you to protected page</p>
        </p>
        <p style="font-weight: 600;">2.Login with youtube
            <p>a.if not subscribed it will redirect you to that youtube channel to subscribe</p>
            <p>b.if subscribed it will redirect you to protected page</p>
        </p>
        <p>3.Didn't work much on UI</p>
        </div>
    
    
</body>
</html>
